@media screen and (min-width:768px) and (max-width: 1024px)
 {
    .headchildone
    {
        width: 50%;
    }
    .headchildtwo
    {
        
        display: flex;
      flex-direction: column-reverse;
        flex-wrap: wrap;
        
       
    }
    .headchildtwo >div
    {
        width: 25%;
    }
    .headchildthree >div
    {
        display: flex;
        flex-direction: row;
    }
     .saisie
     {
         width: 30em;
     }
     .mobilefiltre >div
     {
         margin: 0.5em;
     }

    .barre /* barre en dessous de la div HA*/
    {
        margin-top: 1em;
        height: 0.2em;
        max-width: 100%;
        background-color: #F2F2F2;
        border-left: 26em solid blue;
    }
    .texte
    {
        padding-left: 0.4em;
        padding-right: 0.4em;
    }
    .flex-container
    {
        
        justify-content: center;
    }
    .bodyup
    {
        flex-direction: row;
    }
     .flex-body-up /* containers hébergements et les plus populaires*/
    {
        flex-direction: column-reverse;  
    }
    .hébergements
    {
        padding-right: 30em;
    }
    .hotel-image /* propriété des images de la partie hébergement*/
    {
        background-color: white;
        flex-direction: row;
        flex-wrap: nowrap;
    }
   
    .first-child /* partie hébergement */
    {
        width: 100%;
    }
    .last-child /* partie les plus populaires*/
    {
        flex-direction: row;
        width: 100%;
    }
    .popular-hotel img /* propriété des images de la partie les plus populaires*/
    {
      width: 100%;
      border-top-right-radius: 1.25em;
      border-bottom-right-radius: 20px;
    }
    .popular-hotel /* propriété des images de la partie les plus populaires*/
    {
      flex-direction: column;
      align-items: center;
      padding-right: unset;
      border-top-right-radius: 1.25em;
    }
    .starmostpopular /* étoile de la partie les plus populaires*/
    {
      padding-bottom: 1em;
    }
    .chartline
    {
      margin-right: 60%;
    }
    
    .flex-body-down > div /*partie des activités */
    {
        flex-direction: row;
        justify-content: center;
    }
    .flex-body-down
    {
        align-items: center;
    }
    .imageactivityone /* images activité grand format*/
    {
      flex-direction: row;
    }
    
    .two
    {
        flex-direction: row;
    }
    .imageactivitytwo /* images activités petits formats*/
    {
        margin-left: 2em;
        margin-right: 2em;
    } 
    .footer /*pied de page*/
    {
        flex-direction: row;
        background-color: #F2F2F2;
    }
    .column /* propriété de la partie footer */
    {
        padding-left: 4em;
        padding-right: 4em;
    }

}