@media screen and (min-width:768px) and (max-width: 1024px)
 {

    .barre 
    {
        margin-top: 1em;
        height: 0.2em;
        max-width: 100%;
        background-color: #F2F2F2;
      border-left: 26em solid blue;
     
      
    }
    .flex-container
    {
        justify-content: center;
    }
    .bodyup
    {
        flex-direction: row;
    }
    
    .HA 
  {
      padding-top: 1.25em;
    margin-left: initial;
    gap: 0em;
    justify-content: center;
   
    }

     .flex-body-up
    {
        flex-direction: column-reverse;
           
    }
    .hébergements
    {
        padding-right: 30em;
    }

    .hotel-image
  {
    
    background-color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    
  
  }
  .images img 
  {
      width: 12em;
  }
  .first-child
  {
      width: 100%;
  }
  .last-child
  {
      flex-direction: row;
      width: 100%;

  }
  .popular-hotel img 
  {
      width: 10em;
      border-top-right-radius: 1.25em;
      border-bottom-right-radius: 20px;
  }
  .popular-hotel
  {
      flex-direction: column;
      align-items: center;
      padding-right: unset;
      border-top-right-radius: 1.25em;
      
      
  }
  .starmostpopular
  {
      padding-bottom: 1em;
  }
  .chartline
  {
      margin-right: 60%;
  }
  .flex-containerssecond >div
  {
      flex-direction: column;

  }
  .flex-body-down > div 
  {
    
    flex-direction: row;
    justify-content: center;
   
  }
  .imageactivityone
  {
      flex-direction: row;
  }
  .imageactivityone img 
  {
    width: 20em;
    height: 6.8em;
  }
  .two
  {
     flex-direction: row;
    justify-content: space-between;
     
  }
  .imageactivitétwo
  {
      
  }
  .footer 
{
    flex-direction: row;
   background-color: #F2F2F2;
}

.column /* propriété de la partie footer */
{
    
    padding-left: 3em;
    padding-right: 3em;
}
.h4
{
    
}
}