@media screen and (max-width: 780px) 
{
  .entête
  {
    flex-direction: column;
    
     
  }
  .inscrire
  {
     margin-left: 80%;
     padding-bottom: 1.5em;
     
  }
  .entête
  {
      margin: 0;
      align-content:center;
        
  }
  .logoreservia
  { 
      width: 8em;
      height: 5em;
    
      padding-left: 2em;
  }
  .hébergements
  {
    
  }
  .HA 
  {
      padding-top: 1.25em;
    margin-left: initial;
    gap: 0em;
    justify-content: center;
    justify-content: space-around;

  } 
  .barre 
  {
      margin-top: 1em;
      height: 0.2em;
      max-width: 100%;
      background-color: #F2F2F2;
    border-left: 13em solid blue;
   
    
  }
  .second 
  {
     margin: 1.25em;
  }
  .head
  {
      
  }
  .body
  {
      margin:0;
      line-height: 1.3em;
      
      
  }
  .flex-container 
  {
      margin: 1em;
  }
  .flex-containerssecond
  {
     flex-direction: column;
     margin: 1em;

     
  }
  .mobilefiltre
  {
      flex-direction: row;
      align-items: flex-start;
      
    
  }
  .border
  {
      margin: 0.1em;
  }
  .logotexte 
  {
      margin: 1.25em;
  }
 
  .flex-body-up
  {
      flex-direction: column-reverse;
     
  }
  .imagedeux
  {
    
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .images img 
  {
      width: 25em;
      max-height: 7.5em;
      
  }
  .first-child
  {
      border: unset;
      background-color:initial ;
      flex-direction: column;
      width: 100%;
      
      
  }
  .imagesdeux
  {
      margin: 1em;
  }
  .h4
  {
      margin: 1em;
  }
  .images img 
  {
      width: 20em;
  }
  .flex-body-down > div
  {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
     
  }
  .last-child
  {
      border-radius: unset;
      width: 100%;
     
  }
  .imageactivitéone img 
  {
      width: 20em;
      height: 6.8em;
  }
  .imageactivitéone
  {
      margin-bottom: 1.8em;
  }
  .imagespopulaires
  {
       margin: 0.5em;
  }
  
  .footer
  {
      flex-direction: column;
      flex-wrap: wrap;
      
      
  }
  .column
  {
     padding-left: 2em; 
     padding-top: 1em;
  }
  .flex-body
  {
      flex-direction: column;
  }
  .head
  {
      flex-direction: column;
  }
  .one 
  {
      padding-bottom: 0.8em;
  }


  

}