@media screen and (max-width: 780px) 
{
  .entête
  {
    flex-direction: column;
    
     
  }
  .inscrire
  {
     margin-left: 90%;
  }
  .HA 
  {
      padding-top: 20px;
    margin-left: initial;
    justify-content: space-between;
  }
  .second 
  {
     margin: 20px;
  }
  .head
  {
      
  }
  .body
  {
      margin:0px;
      
      
  }
  .flex-container 
  {
      margin: 20px;
  }
  .flex-containerssecond
  {
     flex-direction: column;
     margin: 20px;
    
  }
  .mobilefiltre
  {
      flex-direction: row;
      align-items: flex-start;
      
      
  }
  .logotexte 
  {
      margin: 20px;
  }
 
  .flex-body-up
  {
      flex-direction: column-reverse;
     
  }
  .imagedeux
  {
    
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  
  }
  .images img 
  {
      width: 25em;
      max-height: 7.5em;
      
  }
  .first-child
  {
      border: unset;
      background-color:initial ;
      flex-direction: column;
      
      
  }
  .imagesdeux
  {
      margin: 20px;
  }
  .h4
  {
      margin: 20px;
  }
  .images img 
  {
      width: 18em;
  }
  .flex-body-down > div
  {
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
     
  }
  .last-child
  {
      border-radius: unset;
     
  }
  .imageactivitéone img 
  {
      max-width: 14em;
      height: 6em;
  }
  .imageactivitéone
  {
      margin-bottom: 2px;
  }
  .imagespopulaires
  {
       margin: 20px;
  }
  
  .footer
  {
      flex-direction: column;
      flex-wrap: wrap;
      
      
  }
  .column
  {
      
  }
  .flex-body
  {
      flex-direction: column;
  }
  .head
  {
      flex-direction: column;
  }


  

}