.entête
{
   display: flex;
   justify-content: flex-end;
   gap: 2%;
   margin-top: 10px;


}

.hébergements
{
color: #0065FC;
margin-left: auto;
margin-top: 10px;

}
.activités
{
    color: black;
    margin-top: 10px;
    margin: 10px;
}
.inscrire
{
    color:#0065FC ;
    font-weight: bold;
    margin-top: 10px;
    margin: 10px;

}

h1
{
font-weight: bold;
}
.second
{
    line-height: 5px;
}
.third
{
    background-color:#F2F2F2 ;
    height: 30px;
    border-collapse: collapse;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 30px;



}

td
{
 border:none;
height: 30px;
border-collapse:collapse;
}


.saisie
{
color: #F2F2F2;
border-color: #F2F2F2;
height: 30px;
border-collapse: collapse;
border-left: hidden;
 }

.bouton
{
    background-color:#0065FC ;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    border-collapse: collapse;
    border-right: hidden;
    outline: none;
}
.i
{
    color: #0065FC;


}

.search-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-logo {
    height: 20px;
    padding: 5px;
    background-color: gray;
}

.circle
{
    display: block;
    background-color:#DEEBFF ;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    align-items: center;



}

.tddeux
{
    border: 1px solid black;
    border-radius: 30px;

}


.flex-container {
    display: flex;
}
